




body {
	text-align: center;
	background: -webkit-linear-gradient(#F0F8FF, #7FFFD4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0F8FF, #7FFFD4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0F8FF, #7FFFD4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0F8FF, #7FFFD4); /* Standard syntax */
}
}

#scoreCount {
	color: red
}

.centerMe {
	margin-left: 2%;
	background-color: "red";
}

/*h1 {
	text-align: center;
	font-weight: bolder;
}*/

h2 {

}

/*#scoreCount {
	text-align: center;
}*/

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  }


#wrapper h1{
 font:normal 60pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}

#wrapper p{
 font:normal 40pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}

.startOver{
 font:normal 25pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}

a:link, a:visited {
color: cornsilk;
text-decoration: none;
}
a:hover, a:active {
color: coral;
text-decoration: none;
}

@boxSize: 200px;
@color: #0e6d82;

/*animated border box*/

.animatedBorderBox {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 12px;
  width: @boxSize;
  height: @boxSize;
  color: @color;
  font-size: 20px;

  &:hover {
    color: spin(@color, 15);
    
    .background {
      background-position: 100px 0;
    }
    .content {
      background-color: lighten(@color, 55);
    }
  }
}

.background, .content {
  position:absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.background {
  transition: 1200ms;
  background-color: @color;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,1) 10px, rgba(255,255,255,1) 20px);
  background-size: 30px;
}

.content {
  transition: 200ms;
  margin: 1px;
  line-height: @boxSize;
  text-align: center;
  background-color: lighten(@color, 60);
}

