




body {
	text-align: center;
	background: -webkit-linear-gradient(#F0F8FF, #7FFFD4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F0F8FF, #7FFFD4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0F8FF, #7FFFD4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0F8FF, #7FFFD4); /* Standard syntax */
}
}

#scoreCount {
	color: red
}

.centerMe {
	margin-left: 2%;
	background-color: "red";
}

/*h1 {
	text-align: center;
	font-weight: bolder;
}*/

h2 {

}

/*#scoreCount {
	text-align: center;
}*/

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  }


#wrapper h1{
 font:normal 60pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}

#wrapper p{
 font:normal 40pt Arial;
 color:#FFFFFF;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}